<!DOCTYPE html>
<html>
<head>
    <title> Project </title>
    <script src="/public/js/jquery-3.2.1.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/font-awesome.css">

    <style>
        .jumbotron {
            background-color: #4D90FE;
            color: ghostwhite;
        }

        .jumbotron h1 {
            color: ghostwhite;
        }
    </style>

</head>
<body>
<div class="jumbotron text-center">
    <h1>Organize</h1>
    <p>TO DO LIST</p>
    <button class="btn btn-lg btn-success" onclick=" window.location = '/';"> HOME</button>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h4 style="color: ghostwhite;">create new task</h4>
                </div>
                <form id="taskForm" action="/create" method="post">
                    <div class="panel-body task">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Task Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="creator" id="creator" placeholder="Task Creator">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="category" id="category" placeholder="Task Category">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-success" type="submit"> create</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>
